<div>
  <div class="page-header">
    <h1><%= t('hello') %> <%= @user.username %></h1>
    <div style="margin-top: 1rem;">
      <%= link_to t('games.add'), new_game_event_path, class: "btn btn-primary", data: { turbo_frame: "modal" } %>
    </div>
  </div>

  <div class="games-container">
    <div id="games-list">
      <% if @games.any? %>
        <% @games.each do |game| %>
          <%= render GameEventComponent.new(event: game, current_user: @user) %>
        <% end %>
      <% else %>
        <div id="no-games-message" class="card">
          <p class="card-date"><%= t('games.no_games') %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= turbo_frame_tag "modal" %> 