<% outcome_class = case @event.winner_user&.id
when nil then 'card--draw'
when @current_user.id then 'card--win'
else 'card--loss'
end %>
<div class="card <%= outcome_class %>">
  <div class="card-header">
    <h3><%= t('games.game_of') %> <%= @event.game_system.name %></h3>
    <p class="card-date"><%= l(@event.played_at, format: :card) %></p>
  </div>

  <div class="card-body">
    <% my = @participation %>
    <% opp = opponent_participation %>
    <div class="card-row">
      <div class="player"><%= @current_user.username %></div>
      <div class="score"><%= [my&.score, opp&.score].compact.join(' - ') %></div>
      <div class="player" style="text-align: right;"><%= opp&.user&.username %></div>
    </div>
  </div>
</div> 