<div class="games-container">
  <h1>Sign Up</h1>

  <%= form_with(model: @user, url: sign_up_path) do |form| %>
    <% if @user.errors.any? %>
      <div class="form-errors">
        <% @user.errors.full_messages.each do |message| %>
          <p style="color:#b91c1c;"><%= message %></p>
        <% end %>
      </div>
    <% end %>

    <div>
      <%= form.label :username %>
      <%= form.text_field :username %>
    </div>

    <div>
      <%= form.label :email_address %>
      <%= form.email_field :email_address %>
    </div>

    <div>
      <%= form.label :password %>
      <%= form.password_field :password %>
    </div>

    <div>
      <%= form.label :password_confirmation %>
      <%= form.password_field :password_confirmation %>
    </div>

    <div style="margin-top:1rem;">
      <%= form.submit "Sign Up", class: "btn btn-primary" %>
    </div>
  <% end %>

  <div style="margin-top:1rem; text-align:center;">
    Already have an account? <%= link_to "Log in", new_session_path %>
  </div>
</div> 