<div style="margin:1rem 0; display:flex; flex-direction:column; gap:0.5rem;">
  <% if is_registered %>
    <% if tournament.registrations_open? && my_registration && my_registration.status != 'checked_in' %>
      <% if my_registration.faction_id.blank? %>
        <p class="card-date" style="color:#b45309;"><%= t('tournaments.faction_required_hint') %></p>
      <% end %>
      <%= button_to t('tournaments.show.check_in'), check_in_tournament_path(tournament), method: :post, class: 'btn btn-primary' %>
    <% end %>
    <%= button_to t('tournaments.show.unregister'), unregister_tournament_path(tournament), method: :delete, class: 'btn' %>
  <% elsif tournament.registrations_open? %>
    <% if authenticated? %>
      <%= button_to t('tournaments.show.register'), register_tournament_path(tournament), method: :post, class: 'btn btn-primary' %>
    <% else %>
      <p class="card-date">
        <%= t('tournaments.show.sign_in_to_register_html', default: 'Please <a href="%{url}">sign in</a> to register.', url: new_user_session_path(locale: I18n.locale)) %>
      </p>
    <% end %>
  <% end %>
</div>


