<div class="games-container">
  <h1><%= @tournament.name %></h1>
  <p class="card-date"><%= @tournament.game_system.localized_name %> · <%= @tournament.format %> · <strong><%= @tournament.state_label %></strong></p>
  <p class="card-date"><%= t('tournaments.show.organizer', default: 'Organizer') %>: <%= @tournament.creator.username %></p>

  <%= render 'registration_actions', tournament: @tournament, is_registered: @is_registered, my_registration: @my_registration %>

  <div data-controller="tabs" data-tabs-active-index-value="<%= @active_tab_index %>">
    <%= render 'tabs_header', tournament: @tournament %>

    <% if @tournament.elimination? %>
      <%= render 'elimination_panels', tournament: @tournament, registrations: @registrations, rounds: @rounds, can_move_to_next_round: @can_move_to_next_round, move_block_reason: @move_block_reason %>
    <% elsif @tournament.open? %>
      <%= render 'open_panels', tournament: @tournament, registrations: @registrations, matches: @matches, standings: @standings, is_registered: @is_registered, can_move_to_next_round: @can_move_to_next_round, move_block_reason: @move_block_reason %>
    <% else %>
      <%= render 'swiss_panels', tournament: @tournament, registrations: @registrations, rounds: @rounds, standings: @standings, can_move_to_next_round: @can_move_to_next_round, move_block_reason: @move_block_reason %>
    <% end %>
  </div>
</div>

<%= turbo_frame_tag "modal" %> 